{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier", "import"],
    "extends": ["airbnb-typescript/base", "plugin:prettier/recommended"],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "dot-notation": "off",
        "keyword-spacing": "off",
        "prettier/prettier": "error",
        "lines-between-class-members": "off",
        "import/prefer-default-export": "off",
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ],
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/indent": ["error", 4],
        "@typescript-eslint/dot-notation": "off",
        "@typescript-eslint/keyword-spacing": "off",
        "@typescript-eslint/lines-between-class-members": "off"
    }
}
